# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/
.env/
.envrc

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Pyright
.pyright/

# Pylint
.pylint.d/

# Pytest
.pytest_cache/

# Database
*.sqlite3
*.db
*.db-journal

# Backup files
*~
*.bak
*.swp
*.swo

# SQLite database files generated at runtime
pams.db
